
/* Hacking Forsakens Verified Author */
/* CSS Multi Author Box */
.authorboxwrap{background:#444;color:#fff;margin:20px auto 0 auto;padding:20px;overflow:hidden;}
.avatar-container{float:left;padding:10px;margin:0 20px 0 0;background:rgba(0,0,0,0.2)}
.avatar-container img{width:90px;height:auto;max-width:100%!important;transition:all .3s}
.author_description_container h4{font-size:18px;display:block;margin:0;margin-bottom:2px}
.author_description_container h4 a{color:#fff}
.author_description_container p{margin:0;font-size:14px;margin-bottom:8px;line-height:25px;font-weight:400}
.social-links li{list-style:none!important;float:left}
.social-links a{border-bottom:none}
.social-links a:after,.social-links a:before{content:none!important}
.social-links li a{color:#fff;font-size:12px;text-align:center;display:inline-block;padding:0;margin:0 10px 0 0;width:24px;height:24px;line-height:24px;border-radius:100%}
.social-links li:nth-child(1):hover a{background:#516ca4;}
.social-links li:nth-child(2):hover a{background:#00c3f3;}
.social-links li:nth-child(3):hover a{background:#f20000;}
.social-links li a:hover{color:#fff}
